body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

main {
  display: flex;
  flex-flow: column nowrap;
}

button,
input {
  margin-bottom: 0.75rem;
}

#image-preview {
  width: 300px;
}

p {
  text-align: center;
  padding: .5rem;
  border: 1px solid black;
  border-radius: 5px;
}
